body {
	padding-top: 70px;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.jumbotron {
	background: #d6ffd2;
}

.jumbotron h1 {
	font-weight: 600;
}